html {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
}

/* For all elements of the page */
*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    background: none;
    outline: none;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
   
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/********************************************************/
/*Form*/
/********************************************************/
/* Signin & Signup */
.auth-block {
    width: 500px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    z-index: 3;
}

.auth-header {
    width: 100%;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.logo-image {
    width: 60px;
    background-size: cover;
}

/*********************************/
/* Sign In */
/*********************************/

.signin-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


/* Registration Form */
.signin-form {
    width: 100%;
    margin: 20px auto auto auto;
}

.signin-form-container {
    width: 100%;
}

/* Form Field */
.signin-field {
    margin-top: 25px;
    position: relative;
}

.signin-field:first-child {
    margin-top: 0;
}

.signin-label-field {
    cursor: default;
    width: 100%;
}

.signin-label {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
}

.signin-input-field {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    vertical-align: top;
}

.signin-input {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 40px;
    appearance: none;
    backgroun-clip: padding-box;
    border: 2px solid #e9e9e9;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0 0 0;
    color: #000;
    font-size: 15px;
    vertical-align: top;
    outline: 0;
    z-index: 2;
    transition: all .1s linear;
}

#password {
    padding: 0 40px 0 10px;
}

.signin-input:hover {
    border: 2px solid #d1d1d1;
}

.signin-input.focus {
    border: 2px solid #153ee6;
}

/* Button View */
.auth-button-views {
    position: absolute;
    z-index: 300;
    top: 15px;
    right: 15px;
}

/* Svg Views Icon */
.auth-button-views-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: none;
}

.auth-button-views-icon.active {
    display: block;
}

/* Svg Views Closed Icon */
.auth-button-views-icon-closed {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #B3B3B3;
    display: none;
}

.auth-button-views-icon-closed.active {
    display: block;
}

/* Password Forgot */
.password-forgot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.password-forgot {
    cursor: pointer;
    font-size: 1.01rem;
    font-weight: 500;
    color: #0057e2;
    text-decoration: none;
    transition: all .1s linear;
}

.password-forgot:hover {
    text-decoration: underline;
}

/* Button Submit */
.signin-submit {
    position: relative;
    margin: 25px 0;
}

.signin-submit-buton {
    cursor: default;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: #f1f1f1;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all .1s linear;
}

.signin-submit-buton.active {
    cursor: pointer;
    background: #1B82DE;
}

.signin-submit-buton.active:hover {
    background: #1b6cde;
}