<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="./css/registration/style.css">
    <link rel="shortcut icon" href="./tmp/registration/logo.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Planner: Авторизация</title>
<meta name="description" content="Описание... ">
<meta name="keywords" content="Ключевые слова... ">
</head>
<body>
    <main class='header'>
        <div class="container">
            <div class="container-inner">
                <!-- Signin & Signup Block-->
                <div class="auth-block">
                    <div class="auth-header">
                        <div class="logo">
                            <img class='logo-image' src="./tmp/registration/logo.png" alt="">
                        </div>
                    </div>
                    <!-- Sign In -->
                    <div class="signin-block">
                        <div class="auth-title-block">
                            <h1 class="auth-title title">
                                Войти
                            </h1>
                            <div class="auth-subtitle">
                                Новый пользователь?
                                <a href="#" class="auth signup">Создайте учетную запись</a>
                            </div>
                        </div>
                        <form action="." class="signin-form" autocomplete="off" method="POST">
                            <div class="signin-form-container">
                                <!-- Name -->
                                <div class="signin-name auth-field">
                                    <span class="signin-name-span">
                                        <input id="firstname" type="text" name="firstname" class="signin-name-input auth-field" required="" autofocus="">
                                        <span class="signig-name-textInput-box textInputBox focus"></span>
                                    </span>
                                    <label for="firstname" class="signin-name-label auth-label focus">Имя</label>
                                </div>
<!--                                Password-->
                                <div class="signin-name auth-field">
                                    <!--Button View-->
                                    <div class="auth-button-views">
                                        <!--Svg Views Icon-->
                                        <svg class="auth-button-views-icon active" version="1.1" id="views_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 488.85 488.85" style="enable-background:new 0 0 488.85 488.85;" xml:space="preserve">
<g>
  <path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2
    s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025
    c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3
    C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7
    c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z"></path>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
</svg>

                                        <!--Svg Views Closed Icon-->
                                        <svg class="auth-button-views-icon-closed" version="1.1" id="views_closed" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 488.9 488.9" style="enable-background:new 0 0 488.9 488.9;" xml:space="preserve">
<style type="text/css">
  .st0{fill:none;stroke:#FFFFFF;stroke-width:49;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#B3B3B3;stroke-width:28;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
                                            <g>
  <path d="M244.4,98.7C151,98.7,66.3,149.8,3.8,232.8c-5.1,6.8-5.1,16.3,0,23.1C66.3,339,151,390.1,244.4,390.1S422.5,339,485,256
    c5.1-6.8,5.1-16.3,0-23.1C422.5,149.8,337.8,98.7,244.4,98.7z M251.1,347c-62,3.9-113.2-47.2-109.3-109.3
    c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.7,302.2,302.2,343.7,251.1,347z M248,299.6
    c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.9,275.6,275.5,297.9,248,299.6z"></path>
</g>
                                            <line class="st0" x1="403" y1="85.8" x2="85.9" y2="402.9"></line>
                                            <line class="st1" x1="403" y1="85.8" x2="85.9" y2="402.9"></line>
</svg>

                                    </div>
                                    <span class="signin-name-span">
                                        <input id="password" type="password" name="password" class="signin-name-input auth-field" required="">
                                        <span class="signig-name-textInput-box textInputBox"></span>
                                    </span>
                                    <label for="password" class="signin-name-label auth-label">Введите пароль</label>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Connection of JavaScript-->
    <script src="./js/registration/script.js"></script>
</body>
</html>